.book {
  transition: opacity 0.4s 0.2s;
}
p {
  margin: 0px 20px 0px 20px;
  text-align: center;
  font-size: 20px;
  color: #000000;
}

.page p{
  color: #000000;
}

.page {
  width: 40%;
  height: 100%;
  background-color: #111111;
  float: left;
  margin-bottom: 0.5em;
  background: left top no-repeat;
  background-size: cover;
}

.page h1 {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: wheat;
  margin: 30px 0px 0px 30px;
}
.story {
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.page img {
  margin-top: 50px;
  width: 70%;
}

.page:nth-child(even) {
  clear: both;
}
.book {
  transform: translateX(-25%);
  width: 80%;
  height: 95%;
}
.book .pages {
  width: 80%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 4px;
  /*box-shadow: 0 0 0 1px #e3dfd8;*/
  margin: 0 auto;
}
.book .page {
  width: 50%;
  height: 100%;
  float: none;
  clear: none;
  margin: 0;
  position: absolute;
  top: 0;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: 100%;
  transform-origin: 0 0;
  transition: transform 1.4s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  cursor: pointer;
  user-select: none;
  background-color: #f0f0f0;
}

.book .page:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.7s;
  z-index: 2;
}
.book .page:nth-child(odd) {
  pointer-events: all;
  transform: rotateY(0deg);
  right: 0;
  border-radius: 0 4px 4px 0;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.15) 0%,
    rgba(0, 0, 0, 0) 10%
  );
}
.book .page:nth-child(odd):hover {
  transform: rotateY(-15deg);
}
.book .page:nth-child(odd):hover:before {
  background: rgba(0, 0, 0, 0.03);
}
.book .page:nth-child(odd):before {
  background: rgba(0, 0, 0, 0);
}
.book .page:nth-child(even) {
  pointer-events: none;
  transform: rotateY(180deg);
  transform-origin: 100% 0;
  left: 0;
  border-radius: 4px 0 0 4px;
  border-color: black;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.12) 0%,
    rgba(0, 0, 0, 0) 10%
  );
}
.book .page:nth-child(even):before {
  background: rgba(0, 0, 0, 0.2);
}
.book .page.grabbing {
  transition: none;
}
.book .page.flipped:nth-child(odd) {
  pointer-events: none;
  transform: rotateY(-180deg);
}
.book .page.flipped:nth-child(odd):before {
  background: rgba(0, 0, 0, 0.2);
}
.book .page.flipped:nth-child(even) {
  transform: rotateY(0deg);
  pointer-events: auto;
}

.book .page.flipped:nth-child(6):hover{
  pointer-events: none;
  transform: rotateY(-0deg);

}
.book .page.flipped:nth-child(even):hover:before {
  background: rgba(0, 0, 0, 0.03);
}
.book .page.flipped:nth-child(even):before {
  background: rgba(0, 0, 0, 0);
}
*,
* :before,
*:after {
  box-sizing: border-box;
}

#page1 {
  background-image: url("../images/background.jpg");
  background-size: cover;
  justify-content: flex-start;
  align-items: flex-start;
}

.page:nth-child(odd) {
  background-position: right top;
}

@keyframes slide-left {
  0% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(0%);
  }
  100%{
    transform: translateX(0%);
  }
}

@keyframes  slide-right {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-25%);
  }
}

/*Mobile */
@media (min-width: 320px) and (max-width: 767px) {
  .book .pages {
    width: 90%;
    height: 100%;
  }
  .book .page {
    width: 50%;
    height: 100%;
  }
  .page img {
    margin-top: 5px;
  }
  .page span {
    margin: 10px 0px 10px 0px;
  }
  .page h1 {
    font-size: 16px;
    margin: 30px 0px 0px 14px;
  }
  .page p {
    margin: 0px 7px 0px 7px;
    font-size: 16px;
  }

}

/*Tablet*/
@media (min-width: 768px) and (max-width: 1023px) {
  .book .pages {
    width: 80%;
    height: 100%;
  }
  .book .page {
    width: 50%;
    height: 100%;
  }
  .page span {
    margin: 10px 0px 10px 0px;
  }
  .page h1 {
    font-size: 16px;
  }
}

/*Laptop */
@media (min-width: 1024px) {
  .book .pages {
    width: 82%;
      height: 100%;

  }
  .book .page {
    width: 50%;
      height: 100%;

  }
  .page span {
    margin: 10px 0px 10px 0px;
  }
  .page h1 {
    font-size: 20px;
  }
}
