/* CARD CONTAINER */
.deck {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: var(--secondary);
  box-shadow: 8px 9px 26px 0 var(--shadow);
  pointer-events: none;
}

.game-body {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 60px;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0px 5px 20px #000;
  padding: 16px 25px;
}

.hide {
  display: none !important;
}

.game-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
}
/* TRIVIA REGIONS */
.deck .card {
  height: 4.5rem;
  width: 4.5rem;
  margin: 0.5rem 0.5rem;
  /* background-color: #777; */
  font-size: 14px;
  font-weight: 700;
  /* color: #fff; */
  border-radius: 45%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 grey;
  animation: liquid-shape-animation 3s ease-in-out infinite alternate;
  background-size: cover;
  background-position: center;
}

.card1 {
  background-image: url(../images/Regiuni/1.jpg);
}

.card2 {
  background-image: url(../images/Regiuni/2.jpg);
}

.card3 {
  background-image: url(../images/Regiuni/3.jpg);
}

.card4 {
  background-image: url(../images/Regiuni/4.jpg);
}

.card5 {
  background-image: url(../images/Regiuni/5.jpg);
}

.card6 {
  background-image: url(../images/Regiuni/6.png);
}

.card7 {
  background-image: url(../images/Regiuni/7.jpg);
}

.card8 {
  background-image: url(../images/Regiuni/8.jpg);
}

.card9 {
  background-image: url(../images/Regiuni/9.jpeg);
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 100px; */
}

.quiz-section .question {
  cursor: auto;
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  font-family: "Nobile";
}

.categ,
.quiz-options {
  margin-top: 10%;
}
/* SHOOTOUT SECTION */
.shootout-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.shootout-section button {
  background-color: var(--dark);
  border: 2px solid var(--light);
  padding: 10px;
  border-radius: 10px;
  color: var(--light);
  margin-top: 1rem;
  font-size: 1.4rem;
}
.shootout-reveal {
  margin-top: 1rem;
}

.quiz-options {
  /* responsive grid with 2 cloumns and 2 rows */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 60px;
  width: 100%;
  list-style: none;
  margin-bottom: 20px;
}

@keyframes liquid-shape-animation {
  0% {
    border-radius: 60% 40% 30% 150% / 60% 30% 70% 40%;
    background-size: 100% 100%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background-size: 400% 200%;
  }

  100% {
    border-radius: 60% 40% 30% 150% / 60% 30% 70% 40%;
    background-size: 100% 100%;
  }
}

.quiz-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  align-items: center;
  font-size: 24px;
  height: 95%;
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0px 5px 20px #000;
  padding: 16px 25px;
  width: 800px;
  height: 80%;
}

.subject{
  font-weight: 900;
  font-family: "Nobile";
}

.subject span{
  font-weight: 100;
}
.result {
  height: 50px;
  margin-top: 3rem;
}

.quiz-options li {
  cursor: pointer;
}

.scores {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
  font-size: 24px;
  text-align: center;
  animation: shine 2s forwards, flicker 3s infinite;
}

section.minions {
  display: flex;
  justify-content: space-between;
  margin: auto;
  text-align: center;
}

.oneMinionASide img {
  width: 200px;
}

@media (max-width: 768px) {
  .quiz {
    max-width: 650px;
  }
  .oneMinionASide img{
    width: 50px;
  }

  .game-body {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    gap: 0;
  }
}

@media (min-width: 320px) and (max-width: 767px){
  .quiz {
    max-width: 300px;
  }

}



@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }

  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }

  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

.result p{
  margin: -38px 20px 0px 20px;
  text-align: center;
  font-size: 16px;
  color: #000000;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }

  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  10% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  38% {
    opacity: 0.5;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  to {
    opacity: 1;
  }
}
