/* VARIABLES FOR COLORS */
:root {
  --light: white;
  --dark: black;
  --primary: #ff781f;
}

body {
  height: 100vh;
  margin: 0;
  background-image: url(../images/gru-standing-with-the-evil-minions-6r1dpqmrw1lurzcv.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--dark) !important;
  backdrop-filter: blur(5px) brightness(0.4);
}

.main-container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 95%;
}

#title-name,
#enter-name,
.player-input p,
.go-back-btn,
.start-btn,
.continue-btn,
.continue-btn-story,
.main-page p,
.welcome {
  color: var(--light);
  font-family: "Newsreader";
  text-transform: uppercase;
  text-shadow: 1px 1px var(--dark);
}

#title-name {
  font-size: 50px;
}

.player-name-input {
  padding-top: 100px;
  animation: fadeIn 2s ease-in;
}
.input-name {
  text-align: center;
  width: 250px;
  height: 27px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.player-input {
  margin-top: 60px;
}

.player-input p {
  font-size: 30px;
}

#enter-name,
.welcome {
  font-size: 40px;
}

.welcome {
  padding-top: 200px;
}

.welcome p {
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  color: var(--light);
}
.story span {
  margin-top: 20px;
}
.story p {
  color: var(--light);
  display: flex;
  flex-direction: column;
}
.welcome span,
.page span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

/* DISPLAY MESSAGE */
.display-message {
  z-index: 10;
  color: var(--dark);
  background-color: var(--light);
  max-width: 350px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 30px 30px;
}

.display-message img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.display-message h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
  text-transform: uppercase;
}
/* ANIMATION FOR EACH WORD */
.welcome span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.welcome span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.welcome span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.welcome span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.welcome span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.story span:nth-child(1) {
  animation: fade-in 1.3s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.story span:nth-child(2) {
  animation: fade-in 1.3s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.story span:nth-child(3) {
  animation: fade-in 1.3s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.story span:nth-child(4) {
  animation: fade-in 1.3s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.story span:nth-child(5) {
  animation: fade-in 1.3s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.story span:nth-child(6) {
  animation: fade-in 1.3s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.story span:nth-child(7) {
  animation: fade-in 1.3s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.story span:nth-child(8) {
  animation: fade-in 1.3s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.story span:nth-child(9) {
  animation: fade-in 1.3s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.story span:nth-child(10) {
  animation: fade-in 1.3s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.story span:nth-child(11) {
  animation: fade-in 1.3s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.story span:nth-child(12) {
  animation: fade-in 1.3s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.story span:nth-child(13) {
  animation: fade-in 1.3s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.start-btn,
.continue-btn,
.continue-btn-story {
  margin: 120px 0 0 0;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 23px;
}

.continue-btn-story {
  color: var(--dark);
  margin: 50px auto;
  pointer-events: stroke;
}
.go-back-btn {
  margin-right: auto;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 23px;
}

.start-btn,
.continue-btn {
  margin: 30px auto;
}

.input-name {
  text-align: center;
  width: 250px;
  height: 27px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.player-input {
  margin-top: 50px;
}

.player-input p {
  font-size: 30px;
}
.hide {
  display: none !important;
}

#enter-name {
  font-size: 40px;
}

.main-page {
  animation: 6s fadeIn ease-in;
  padding-top: 100px;
}

#title-name,
#enter-name,
.player-input p {
  color: var(--light);
  font-family: "Newsreader";
  text-transform: uppercase;
  text-shadow: 1px 1px var(--dark);
}

.input-name {
  text-align: center;
  width: 250px;
  height: 27px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.player-input {
  margin-top: 50px;
}

.player-input p {
  font-size: 30px;
}

#enter-name {
  font-size: 40px;
}

.selected-by-player {
  box-shadow: inset 0 0 0 1000px rgba(255, 165, 0, 0.7) !important;
}
.selected-by-cpu {
  box-shadow: inset 0 0 0 1000px rgba(120, 120, 240, 0.7) !important;
}
.selected-by-both {
  background: linear-gradient(90deg, #ffa500 50%, #7878f0 50%);
}
.correct-answer {
  box-shadow: 0 0 10px 10px #0ff !important;
}
.correct-shootout {
  background-color: gold !important;
}

.go-back-btn:hover,
.start-btn:hover,
.continue-btn:hover,
.continue-btn-story:hover {
  text-shadow: 2px 2px var(--dark);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.correct-word {
  background-color: pink;
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.correct-word {
  background-color: pink;
}
